.desktop-body,
.desktop-dispatch-body {
	.dashboard {
		.module {
			margin: auto;
			border-color: $color-1-blue;
			border-width: 4px;
			border-style: solid;
			width: 100%;
			height: 200px;
			overflow: hidden;
			text-align: center;
			background-color: $color-1-white;
			&:hover {
				transition: 0.4s;
				transform: scale(1.1);
				border-width: 6px;
			}
			a {
				color: $color-1-blue;
			}
			.image {
				width: auto;
				height: 80%;
			}
			.text {
				text-align: center;
				width: 100%;
				height: auto;
				font-weight: 900;
				font-size: 22px;
				position: absolute;
				bottom: -28px;
				left: 50%;
				color: $color-1-blue !important;
				-ms-transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}

		.last-refreshed {
			font-size: 12px;
		}
		.panel {
			color: $color-2-black;
			background-color: $color-1-white;
			min-height: 100px;
			height: fit-content;
			width: 100%;
			padding: 10px;
			text-align: center;
			@include boxShadow;
			//Device = Low Resolution Tablets, Mobiles (Landscape)
			@media (min-width: 481px) and (max-width: 767px) {
				margin-bottom: 10px;
			}
			//Device = Most of the Smartphones Mobiles (Portrait)
			@media (min-width: 320px) and (max-width: 480px) {
				margin-bottom: 10px;
				min-height: 80px;
			}
			.data {
				font-weight: 600;
			}
			.money {
				color: $color-1-green;
			}
		}

		.logs {
			height: 700px;
			overflow-y: scroll;
			.log {
				position: relative;
				background-color: $color-1-white;
				color: $color-2-black;
				min-height: 74px;
				height: fit-content;
				width: 99%;
				margin-top: 10px;
				padding: 10px;
				@include boxShadow;
				border-radius: 5px;
				text-align: left;
				@include popIn;
				.text {
					word-break: break-all;
					.created-by {
						font-weight: bolder;
						color: $color-1-black;
					}
				}
				.time {
					position: absolute;
					right: 0px;
					top: -6px;
					background-color: $color-1-yellow;
					border-radius: 4px;
					padding: 2px;
					font-size: 10px;
				}
			}
		}
	}
}
