.desktop-body {
	.main {
		color: $color-1-black !important;
		height: 100vh;
		width: auto;
		margin-left: 78px;
		transition: all 0.5s ease;
		.page-title {
			text-align: center;
			font-size: 4vh;
			font-weight: 700;
			color: $color-1-purple !important;
		}
		@media (min-width: 768px) and (max-width: 1024px) {
			width: auto;
		}
		@media (min-width: 481px) and (max-width: 767px) {
			width: auto;
		}
	}
}
