.desktop-body {
	.my-account {
		.signature {
			background-color: $color-3-grey;
			margin-bottom: 10px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			margin: auto;
		}
	}
}
