node_modules

/package-lock.json
/.meteor
.env
.env.*.local
.env.local
.DS_Store
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/build
/.build
/.meteor/local
/.meteor/.build
/.meteor/local/build
/.meteor/local/bundler-cache
/.meteor/local/isopacks
/.meteor/local/plugin-cache
/.meteor/local/cordova-build
/.meteor/local/cordova-build-overrides
/.meteor/local/db
/.meteor/local/dev_bundle
/.meteor/local/run
/.meteor/local/test-packages
/.meteor/local/webpack-cache
local

/.env