.my-proyects {
	.nav .nav-item button.active {
		background-color: transparent;
		color: var(--bs-danger) !important;
	}
	.nav .nav-item button.active::after {
		content: "";
		border-bottom: 4px solid var(--bs-danger);
		width: 100%;
		position: absolute;
		left: 0;
		bottom: -1px;
		border-radius: 5px 5px 0 0;
	}
	.card-proyect {
		.card {
			position: relative; /* Ensure the card is positioned relative for absolute positioning of icons */
			background: #fff;
			box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08),
				0 0 6px rgba(0, 0, 0, 0.05);
			border: 1; /* Eliminate border */
			border-radius: 1rem;
		}

		.img-hover-zoom--colorize img {
			border-radius: 50%;
			width: 150px;
			height: auto;
			margin-top: 20px;
			padding: 1px;
			transition: transform 0.5s;
			filter: grayscale(100%);
		}

		.img-hover-zoom--colorize:hover img {
			filter: grayscale(0);
			transform: scale(1.05);
		}

		.card h5 {
			overflow: hidden;
			height: 80px;
			font-weight: 300;
			font-size: 1rem;
		}

		.card h5 a {
			color: black;
			text-decoration: none;
		}

		.role {
			color: #7a7a7a;
		}

		.box {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.fab {
			font-size: 1.5rem;
			color: darkgray;
			transition: transform 0.5s;
		}

		.fab:hover {
			color: black;
			transform: scale(1.1);
		}

		.card h2 {
			font-size: 1rem;
		}

		.close-icon {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 1.5rem;
			cursor: pointer;
			color: darkgray;
			transition: color 0.3s;
		}

		.close-icon:hover {
			color: black;
		}

		.edit-icon {
			position: absolute;
			bottom: 10px;
			right: 10px;
			font-size: 1.5rem;
			cursor: pointer;
			color: darkgray;
			transition: color 0.3s;
		}

		.edit-icon:hover {
			color: black;
		}

		/* Eliminate any margin or padding in the card header and footer */
		.card-header,
		.card-footer {
			border: none;
			padding: 0;
			margin: 0;
		}

		/* MEDIA */
		@media only screen and (min-width: 1200px) {
			.img-hover-zoom--colorize img {
				width: 200px;
			}
		}

		@media only screen and (min-width: 1200px) {
			.h1,
			h1 {
				font-size: 2rem;
			}
		}
	}
}
