.public-body {
	.view-event {
		background: linear-gradient(90deg, #4d5bf0 0%, #10158b 100%);
		strong {
			color: $color-1-white;
			font-family: Arial, Helvetica, sans-serif; //le puse esta fuente porque si no, no se veria el cambio de negrita en el html
		}
		.page-title {
			text-align: start;
			word-wrap: break-word;
			@media (min-width: 320px) and (max-width: 600px) {
				font-size: 10vw;
			}
		}
		.share-buttons-row {
			@media (min-width: 320px) and (max-width: 600px) {
				text-align: center;
			}
			a {
				color: $color-1-white;
				font-size: 16px;
				margin-right: 15px;
				text-decoration: none;
				&:hover {
					@include scale-up;
				}
				@media (min-width: 855px) and (max-width: 979px) {
					margin-right: 10px;
					font-size: 14px;
				}
				@media (min-width: 768px) and (max-width: 854px) {
					margin-right: 4px;
					font-size: 12px;
				}
			}
			i {
				height: 40px;
				width: 40px;
				text-align: center;
				line-height: 38px;
				border-radius: 50%;
				border-style: solid;
				border-color: $color-1-purple;
				border-width: 1px;
				&:hover {
					color: $color-1-white;
					background-color: $color-1-purple;
					border-color: $color-1-white;
				}
				@media (min-width: 855px) and (max-width: 979px) {
					height: 35px;
					width: 35px;
				}
				@media (min-width: 768px) and (max-width: 854px) {
					line-height: 30px;
					height: 32px;
					width: 32px;
				}
			}
		}
		.container-sub {
			width: auto;
			height: 450px;
			background: url("/event-background.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			.content-sub {
				position: relative;
				width: 100%;
				height: 100%;
				background-color: rgba(12, 4, 48, 0.7);
				padding-top: 100px;
				.title {
					position: relative;
					top: 32%;
					text-align: center !important;
					width: 90%;
					margin: auto;
				}
				.test {
					position: relative;
					top: 20%;
				}
				p {
					color: #ffff;
					font-size: 17px;
					margin-bottom: 25px;
					max-width: 500px;
					text-align: center;
				}
			}
		}
	}
}
