.public-body {
	.home {
		.hero {
			width: 100%;
			height: auto !important;
			@media (min-width: 1281px) {
				height: 1200px;
			}
			@media (min-width: 768px) and (max-width: 1024px) {
				height: 600px;
			}
			@media (min-width: 320px) and (max-width: 767px) {
				height: 600px;
			}
			.info {
				.text {
					font-family: "Bebas Neue", cursive;
				}

				::selection {
					background-color: black;
				}
				.write-effect p {
					text-align: left;
					font-weight: 400;
					@media (min-width: 1165px) and (max-width: 1410px) {
						font-size: 60px;
						width: 10.3em;
					}
					@media (min-width: 768px) and (max-width: 1164px) {
						font-size: 50px;
						width: 9em;
					}
					@media (min-width: 548px) and (max-width: 767px) {
						font-size: 40px;
						width: 8.7em;
					}
					@media (min-width: 487px) and (max-width: 547px) {
						font-size: 35px;
						width: 8.7em;
					}
					@media (min-width: 416px) and (max-width: 486px) {
						font-size: 30px;
						width: 8.7em;
					}
					@media (min-width: 320px) and (max-width: 415px) {
						font-size: 25px;
						width: 8.6em;
					}
				}
				.description {
					color: $color-1-white;
					@media (min-width: 320px) and (max-width: 480px) {
						display: none;
					}
				}
			}
			.modal-body {
				position: relative;
				padding: 0px;
			}
		}

		.deals {
			.title {
				font-size: 48px;
				font-weight: 400;
				line-height: 72px;
				text-align: center;
				@media (min-width: 320px) and (max-width: 480px) {
					text-align: center;
				}
			}
			.image {
				height: 400px;
				width: auto;
				margin: auto;
			}
		}

		.about {
			margin-top: 120px;
			margin-bottom: 120px;
			margin-left: 10%;
			margin-right: 10%;
			@media (min-width: 768px) and (max-width: 1024px) {
				margin-left: 0%;
				margin-right: 0%;
			}
			@media (min-width: 320px) and (max-width: 480px) {
				margin-left: 0%;
				margin-right: 0%;
			}
			.title {
				font-size: 48px;
				font-weight: 400;
				line-height: 72px;
				@media (min-width: 320px) and (max-width: 480px) {
					text-align: center;
				}
			}
			p {
				@media (min-width: 320px) and (max-width: 480px) {
					text-align: center;
				}
			}
			.btn {
				@media (min-width: 320px) and (max-width: 480px) {
					display: block;
					margin: auto;
				}
			}
			.dippin-dots {
				.image {
					width: 74%;
					height: auto;
					margin: auto;
					display: block;
					@include breathing;
					@media (min-width: 768px) and (max-width: 1024px) {
						width: 100%;
					}
					@media (min-width: 320px) and (max-width: 480px) {
						margin-top: 40px;
						width: 80%;
					}
				}
			}
		}

		.slider {
			margin-top: 120px;
			margin-bottom: 120px;
			margin-left: 10%;
			margin-right: 10%;
			@media (min-width: 768px) and (max-width: 1024px) {
				margin-left: 0%;
				margin-right: 0%;
			}
			@media (min-width: 320px) and (max-width: 480px) {
				margin-left: 0%;
				margin-right: 0%;
			}
			.title {
				font-size: 48px;
				font-weight: 400;
				line-height: 72px;
				text-align: center;
			}
			.slide {
				margin-top: 120px;
				padding: 0px;
				.image {
					position: relative;
					margin: auto;
					display: block;
					width: auto;
					height: 180px;
					border-radius: 25px;
					transform: scale(1.5);
					&.active {
						transform: scale(2.5);
						z-index: 999999;
					}
					&.inactive {
						transform: scale(1.8);
						&.previous {
							left: 40%;
						}
						&.next {
							right: 40%;
						}
					}
				}
				.btn {
					display: none;
					position: relative;
					left: 50%;
					bottom: 0px;
					-ms-transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					&.active {
						display: inline-block;
						bottom: -38%;
						z-index: 9999999;
					}
				}
			}
		}
	}
}
