.public-body {
	.packages {
		.logo {
			width: 50%;
			height: auto;
		}
		.package {
			width: 90%;
			height: 400px;
			border-style: solid;
			border-width: 1px;
			border-color: $color-1-purple;
			border-top-right-radius: 20px;
			border-bottom-left-radius: 20px;
			background-color: $color-1-white;
			.title {
				color: $color-1-purple;
				text-align: center;
			}
		}
	}
}
