.forgot-password {
	.forgot-password-div {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $color-1-white;
		padding: 20px;
		height: 86%;
		@media (min-width: 320px) and (max-width: 480px) {
			width: 80%;
		}
		border-radius: 10px;
		.logo {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
			width: 88%;
			height: auto;
		}
	}
}
