.not-found {
	.container-fluid {
		text-align: center;
		.title {
			font-family: "Space Mono";
			color: $color-1-white;
			margin-top: 80px;
			font-size: 72px;
			font-weight: 900;
			text-align: center;
			text-shadow: -2px -2px #1565c0, -3px -3px #1565c0, -4px -4px white;
		}

		.planet-cont {
			width: 200px;
			height: 150px;
			margin-left: 5.5%;
			display: flex;
			justify-content: center;
			align-items: center;
			&.bottom {
				margin-left: 70%;
			}
		}

		.planet {
			position: fixed;
			width: 150px;
			height: 150px;
			border: 1px solid transparent;
			background: linear-gradient(120deg, #ffe5b4, #ffeb3b);
			border-radius: 50%;
			&.bottom {
				background: linear-gradient(120deg, #e6e6fa, #c8a2c8);
			}
		}

		.rings {
			position: fixed;
			width: 200px;
			height: 10px;
			border: 5px solid white;
			border-radius: 50%;
			border-top: none;
			transform: rotate(-10deg);
			&.bottom {
				transform: rotate(10deg);
			}
		}

		.star {
			position: absolute;
			top: 40%;
			left: 5%;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			border: 1px solid transparent;
			background: linear-gradient(120deg, #fffcbb, white);
			animation-name: twinkle;
			animation-duration: 1s;
			animation-iteration-count: infinite;
		}

		.star.a {
			top: 20%;
			left: 40%;
			animation-delay: 12s;
		}

		.star.b {
			top: 7%;
			left: 60%;
			animation-delay: 11s;
		}

		.star.c {
			top: 30%;
			left: 55%;
			animation-delay: 3s;
		}

		.star.d {
			top: 37%;
			left: 75%;
			animation-delay: 4s;
		}

		.star.e {
			top: 15%;
			left: 90%;
			animation-delay: 9s;
		}

		.star.f {
			top: 17%;
			left: 68%;
			animation-delay: 1s;
		}

		.star.g {
			top: 60%;
			left: 58%;
			animation-delay: 8s;
		}

		.star.h {
			top: 69%;
			left: 37%;
			animation-delay: 2s;
		}

		.star.i {
			top: 63%;
			left: 20%;
			animation-delay: 13s;
		}

		.star.j {
			top: 80%;
			left: 10%;
			animation-delay: 10s;
		}

		.star.k {
			top: 85%;
			left: 65%;
			animation-delay: 7s;
		}

		.star.l {
			top: 89%;
			left: 27%;
			animation-delay: 4s;
		}

		.star.m {
			top: 85%;
			left: 47%;
			animation-delay: 5s;
		}

		.star.n {
			top: 47%;
			left: 89%;
			animation-delay: 14s;
		}

		@keyframes twinkle {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.5);
			}
			100% {
				transform: scale(1);
			}
		}

		.rocket-cont {
			position: absolute;
			top: -50%;
			left: 80%;
			height: 90px;
			width: 25px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			animation-name: launch;
			animation-duration: 3s;
			animation-timing-function: ease-out;
		}

		.rocket-top {
			width: 100%;
			height: 65%;
			background: #eceff1;
			border-radius: 50% 50% 5% 5%;
			z-index: 2;
		}

		.rocket-bottom {
			z-index: 1;
			border-bottom: 7px solid red;
			border-right: 7px solid transparent;
			border-left: 7px solid transparent;
			height: 0px;
			width: 0px;
			transform: scale(2);
			margin-top: -7px;
		}

		.flame {
			width: 15px;
			height: 15px;
			border: 1px solid #ffc400;
			background: #fffcbb;
			border-radius: 15% 50% 50% 50%;
			box-shadow: 4px 4px 40px 15px #eedd82, -4px -4px 40px 15px #eedd82;
			transform: rotate(-135deg);
			animation-name: flame;
			animation-duration: 3s;
			animation-iteration-count: infinite;
		}

		@keyframes flame {
			0% {
				width: 15px;
				height: 15px;
				background: #fffcbb;
				border-radius: 15% 50% 50% 50%;
			}
			25% {
				border-radius: 10% 50% 50% 50%;
				transform: rotate(-160deg);
			}
			50% {
				border-radius: 25% 45% 55% 45%;
				transform: rotate(-120deg);
				background: #ffea00;
			}
			75% {
				width: 20px;
				height: 20px;
				border-radius: 20% 60% 60% 60%;
			}
			100% {
				width: 15px;
				height: 15px;
				background: #fffcbb;
				border-radius: 15% 50% 50% 50%;
			}
		}

		@keyframes launch {
			0% {
				top: 50%;
			}
			100% {
				top: -50%;
			}
		}
		// .stars {
		//   -webkit-transform: rotateZ(45deg);
		//           transform: rotateZ(45deg);
		//   -webkit-animation: sky 200000ms linear infinite;
		//           animation: sky 200000ms linear infinite;
		//   .shooting_star {
		//     position: absolute;
		//     left: 50%;
		//     top: 50%;
		//     height: 2px;
		//     background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
		//     border-radius: 999px;
		//     -webkit-filter: drop-shadow(0 0 6px #699bff);
		//             filter: drop-shadow(0 0 6px #699bff);
		//     -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
		//             animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
		//   }
		//   .shooting_star::before, .shooting_star::after {
		//     content: '';
		//     position: absolute;
		//     top: calc(50% - 1px);
		//     right: 0;
		//     height: 2px;
		//     background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
		//     -webkit-transform: translateX(50%) rotateZ(45deg);
		//             transform: translateX(50%) rotateZ(45deg);
		//     border-radius: 100%;
		//     -webkit-animation: shining 3000ms ease-in-out infinite;
		//             animation: shining 3000ms ease-in-out infinite;
		//   }
		//   .shooting_star::after {
		//     -webkit-transform: translateX(50%) rotateZ(-45deg);
		//             transform: translateX(50%) rotateZ(-45deg);
		//   }
		//   .shooting_star:nth-child(1) {
		//     top: calc(50% - 185px);
		//     left: calc(50% - 150px);
		//     -webkit-animation-delay: 8971ms;
		//             animation-delay: 8971ms;
		//   }
		//   .shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after, .shooting_star:nth-child(1)::after {
		//     -webkit-animation-delay: 8971ms;
		//             animation-delay: 8971ms;
		//   }
		//   .shooting_star:nth-child(2) {
		//     top: calc(50% - 50px);
		//     left: calc(50% - 179px);
		//     -webkit-animation-delay: 9256ms;
		//             animation-delay: 9256ms;
		//   }
		//   .shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after, .shooting_star:nth-child(2)::after {
		//     -webkit-animation-delay: 9256ms;
		//             animation-delay: 9256ms;
		//   }
		//   .shooting_star:nth-child(3) {
		//     top: calc(50% - -146px);
		//     left: calc(50% - 135px);
		//     -webkit-animation-delay: 8700ms;
		//             animation-delay: 8700ms;
		//   }
		//   .shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after, .shooting_star:nth-child(3)::after {
		//     -webkit-animation-delay: 8700ms;
		//             animation-delay: 8700ms;
		//   }
		//   .shooting_star:nth-child(4) {
		//     top: calc(50% - -77px);
		//     left: calc(50% - 157px);
		//     -webkit-animation-delay: 3147ms;
		//             animation-delay: 3147ms;
		//   }
		//   .shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after, .shooting_star:nth-child(4)::after {
		//     -webkit-animation-delay: 3147ms;
		//             animation-delay: 3147ms;
		//   }
		//   .shooting_star:nth-child(5) {
		//     top: calc(50% - -183px);
		//     left: calc(50% - 8px);
		//     -webkit-animation-delay: 6588ms;
		//             animation-delay: 6588ms;
		//   }
		//   .shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after, .shooting_star:nth-child(5)::after {
		//     -webkit-animation-delay: 6588ms;
		//             animation-delay: 6588ms;
		//   }
		//   .shooting_star:nth-child(6) {
		//     top: calc(50% - -29px);
		//     left: calc(50% - 195px);
		//     -webkit-animation-delay: 8009ms;
		//             animation-delay: 8009ms;
		//   }
		//   .shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after, .shooting_star:nth-child(6)::after {
		//     -webkit-animation-delay: 8009ms;
		//             animation-delay: 8009ms;
		//   }
		//   .shooting_star:nth-child(7) {
		//     top: calc(50% - 95px);
		//     left: calc(50% - 69px);
		//     -webkit-animation-delay: 5420ms;
		//             animation-delay: 5420ms;
		//   }
		//   .shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after, .shooting_star:nth-child(7)::after {
		//     -webkit-animation-delay: 5420ms;
		//             animation-delay: 5420ms;
		//   }
		//   .shooting_star:nth-child(8) {
		//     top: calc(50% - -59px);
		//     left: calc(50% - 70px);
		//     -webkit-animation-delay: 9378ms;
		//             animation-delay: 9378ms;
		//   }
		//   .shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after, .shooting_star:nth-child(8)::after {
		//     -webkit-animation-delay: 9378ms;
		//             animation-delay: 9378ms;
		//   }
		//   .shooting_star:nth-child(9) {
		//     top: calc(50% - 76px);
		//     left: calc(50% - 238px);
		//     -webkit-animation-delay: 2845ms;
		//             animation-delay: 2845ms;
		//   }
		//   .shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after, .shooting_star:nth-child(9)::after {
		//     -webkit-animation-delay: 2845ms;
		//             animation-delay: 2845ms;
		//   }
		//   .shooting_star:nth-child(10) {
		//     top: calc(50% - 83px);
		//     left: calc(50% - 6px);
		//     -webkit-animation-delay: 5205ms;
		//             animation-delay: 5205ms;
		//   }
		//   .shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after, .shooting_star:nth-child(10)::after {
		//     -webkit-animation-delay: 5205ms;
		//             animation-delay: 5205ms;
		//   }
		//   .shooting_star:nth-child(11) {
		//     top: calc(50% - -137px);
		//     left: calc(50% - 267px);
		//     -webkit-animation-delay: 808ms;
		//             animation-delay: 808ms;
		//   }
		//   .shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after, .shooting_star:nth-child(11)::after {
		//     -webkit-animation-delay: 808ms;
		//             animation-delay: 808ms;
		//   }
		//   .shooting_star:nth-child(12) {
		//     top: calc(50% - 12px);
		//     left: calc(50% - 8px);
		//     -webkit-animation-delay: 2406ms;
		//             animation-delay: 2406ms;
		//   }
		//   .shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after, .shooting_star:nth-child(12)::after {
		//     -webkit-animation-delay: 2406ms;
		//             animation-delay: 2406ms;
		//   }
		//   .shooting_star:nth-child(13) {
		//     top: calc(50% - 148px);
		//     left: calc(50% - 47px);
		//     -webkit-animation-delay: 7566ms;
		//             animation-delay: 7566ms;
		//   }
		//   .shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after, .shooting_star:nth-child(13)::after {
		//     -webkit-animation-delay: 7566ms;
		//             animation-delay: 7566ms;
		//   }
		//   .shooting_star:nth-child(14) {
		//     top: calc(50% - -28px);
		//     left: calc(50% - 75px);
		//     -webkit-animation-delay: 7634ms;
		//             animation-delay: 7634ms;
		//   }
		//   .shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after, .shooting_star:nth-child(14)::after {
		//     -webkit-animation-delay: 7634ms;
		//             animation-delay: 7634ms;
		//   }
		//   .shooting_star:nth-child(15) {
		//     top: calc(50% - -37px);
		//     left: calc(50% - 203px);
		//     -webkit-animation-delay: 7743ms;
		//             animation-delay: 7743ms;
		//   }
		//   .shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after, .shooting_star:nth-child(15)::after {
		//     -webkit-animation-delay: 7743ms;
		//             animation-delay: 7743ms;
		//   }
		//   .shooting_star:nth-child(16) {
		//     top: calc(50% - 41px);
		//     left: calc(50% - 256px);
		//     -webkit-animation-delay: 2888ms;
		//             animation-delay: 2888ms;
		//   }
		//   .shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after, .shooting_star:nth-child(16)::after {
		//     -webkit-animation-delay: 2888ms;
		//             animation-delay: 2888ms;
		//   }
		//   .shooting_star:nth-child(17) {
		//     top: calc(50% - -35px);
		//     left: calc(50% - 121px);
		//     -webkit-animation-delay: 5864ms;
		//             animation-delay: 5864ms;
		//   }
		//   .shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after, .shooting_star:nth-child(17)::after {
		//     -webkit-animation-delay: 5864ms;
		//             animation-delay: 5864ms;
		//   }
		//   .shooting_star:nth-child(18) {
		//     top: calc(50% - 73px);
		//     left: calc(50% - 225px);
		//     -webkit-animation-delay: 7883ms;
		//             animation-delay: 7883ms;
		//   }
		//   .shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after, .shooting_star:nth-child(18)::after {
		//     -webkit-animation-delay: 7883ms;
		//             animation-delay: 7883ms;
		//   }
		//   .shooting_star:nth-child(19) {
		//     top: calc(50% - -69px);
		//     left: calc(50% - 47px);
		//     -webkit-animation-delay: 3339ms;
		//             animation-delay: 3339ms;
		//   }
		//   .shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after, .shooting_star:nth-child(19)::after {
		//     -webkit-animation-delay: 3339ms;
		//             animation-delay: 3339ms;
		//   }
		//   .shooting_star:nth-child(20) {
		//     top: calc(50% - 162px);
		//     left: calc(50% - 129px);
		//     -webkit-animation-delay: 7963ms;
		//             animation-delay: 7963ms;
		//   }
		//   .shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after, .shooting_star:nth-child(20)::after {
		//     -webkit-animation-delay: 7963ms;
		//             animation-delay: 7963ms;
		//   }
		//
		//   @-webkit-keyframes tail {
		//     0% {
		//       width: 0;
		//     }
		//     30% {
		//       width: 100px;
		//     }
		//     100% {
		//       width: 0;
		//     }
		//   }
		//
		//   @keyframes tail {
		//     0% {
		//       width: 0;
		//     }
		//     30% {
		//       width: 100px;
		//     }
		//     100% {
		//       width: 0;
		//     }
		//   }
		//   @-webkit-keyframes shining {
		//     0% {
		//       width: 0;
		//     }
		//     50% {
		//       width: 30px;
		//     }
		//     100% {
		//       width: 0;
		//     }
		//   }
		//   @keyframes shining {
		//     0% {
		//       width: 0;
		//     }
		//     50% {
		//       width: 30px;
		//     }
		//     100% {
		//       width: 0;
		//     }
		//   }
		//   @-webkit-keyframes shooting {
		//     0% {
		//       -webkit-transform: translateX(0);
		//               transform: translateX(0);
		//     }
		//     100% {
		//       -webkit-transform: translateX(300px);
		//               transform: translateX(300px);
		//     }
		//   }
		//   @keyframes shooting {
		//     0% {
		//       -webkit-transform: translateX(0);
		//               transform: translateX(0);
		//     }
		//     100% {
		//       -webkit-transform: translateX(300px);
		//               transform: translateX(300px);
		//     }
		//   }
		//   @-webkit-keyframes sky {
		//     0% {
		//       -webkit-transform: rotate(45deg);
		//               transform: rotate(45deg);
		//     }
		//     100% {
		//       -webkit-transform: rotate(405deg);
		//               transform: rotate(405deg);
		//     }
		//   }
		//   @keyframes sky {
		//     0% {
		//       -webkit-transform: rotate(45deg);
		//               transform: rotate(45deg);
		//     }
		//     100% {
		//       -webkit-transform: rotate(405deg);
		//               transform: rotate(405deg);
		//     }
		//   }
		// }
	}
}
