.sign-up {
	background-image: url("/login.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 104vh !important;
	position: relative;
	width: auto;
	.sign-up-div {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $color-1-white;
		padding: 20px;
		height: 86%;
		@media (min-width: 320px) and (max-width: 480px) {
			width: 80%;
		}
		border-radius: 10px;
		.logo {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
			height: auto;
			background-color: $color-1-grey;
			border-radius: 10px;
		}
		.checkmark-container {
			font-size: 14px;
		}
	}
}
