.sign-in {
	position: relative;
	width: auto;
	height: auto;
	.log-out {
		margin-top: 20px;
		margin-bottom: 26px;
		font-size: 16px;
		color: $color-1-blue !important;
		position: inherit;
		display: block;
	}
	.header {
		position: relative;
		.logo {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
			margin-bottom: 20px;
			@media (min-width: 1281px) {
				width: 20%;
			}
		}
	}
	.password {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: $color-1-grey;
		margin-top: 16px;
		margin-bottom: 16px;
		font-size: 32px;
		height: 20px;
	}
	.keypad {
		margin-left: 24px;
		margin-right: 24px;
		text-align: center;
		@media (min-width: 1281px) {
			width: 40%;
			margin: auto;
		}
	}
	.numpad {
		margin: 14px;
		border-radius: 50%;
		height: 64px;
		width: 64px;
		border-color: $color-1-grey;
		border-style: solid;
		border-width: 1px;
		background-color: $color-1-white;
		color: $color-1-grey;
		text-align: center;
		font-size: 22px;
		&:hover {
			color: $color-1-white;
			background-color: $color-1-blue;
		}
	}
	.clear {
		margin: 14px;
		border-radius: 50%;
		height: 60px;
		width: 60px;
		border-color: $color-1-white;
		background-color: $color-1-white;
		color: $color-1-grey;
		text-align: center;
		font-size: 14px;
	}
	.version {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: 20px;
	}
}
