/*Desktop Navbar*/
.desktop-body {
	.hello {
		color: $color-1-white;
	}
	.navbar {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: 0px;
		background-color: $color-1-purple;
		height: 48px;
		width: auto;
		@include boxShadow;
		.navbar-collapse {
			z-index: 9;
			&.collapsing,
			&.show {
				background-color: $color-1-purple;
			}
			.navbar-nav {
				.nav-item {
					padding-left: 10px;
				}
			}
		}
		.nav-item .nav-link {
			font-size: 12px;
			color: $color-1-white;
			&:hover {
				color: $color-1-grey;
			}
			&.logout {
				&:hover {
					color: $color-1-red !important;
				}
			}
		}
		.fa-bars {
			padding-left: 16px;
			padding-right: 16px;
			padding-top: 10px;
			padding-bottom: 10px;
			color: $color-1-white;
		}
		//Device = Most of the Smartphones Mobiles (Portrait)
		@media (min-width: 320px) and (max-width: 480px) {
			.sidebar-btn {
				background-color: $color-1-red;
				color: $color-1-white;
			}
		}
	}
}
