.public-body,
.global-body {
	.navbar {
		background: $color-1-black;
		background-color: $color-1-black;
		.container-fluid {
			.navbar-brand {
				padding: 10px;
				.logo {
					width: 140px;
					height: auto;
					&:hover {
						transition: 0.6s;
						transform: scale(1.2);
					}
				}
			}
			.navbar-toggler {
				border-style: solid;
				border-width: 2px;
				border-color: $color-1-white;
				border-radius: 0px;
				.navbar-toggler-icon {
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
				}
			}
			.navbar-collapse {
				.ms-auto .nav-item a {
					color: $color-1-white;
				}
				.navbar-nav {
					font-family: Montserrat !important;
					font-weight: bold !important;
					.nav-item {
						.active {
							color: $color-1-purple;
						}
						.link:hover {
							color: $color-1-purple;
							transition: all 0.2s;
							-webkit-transition: all 0.2s;
						}
						@media (min-width: 320px) and (max-width: 480px) {
							text-align: center !important;
						}
						.link {
							margin-left: 12px;
							margin-right: 12px;
							@media (min-width: 1042px) and (max-width: 1153px) {
								margin-left: 1rem;
								margin-right: 1rem;
							}
							@media (min-width: 890px) and (max-width: 1041px) {
								margin-left: 0.8rem;
								margin-right: 0.8rem;
								font-size: 14px;
							}
							@media (min-width: 755px) and (max-width: 889px) {
								margin-left: 0.2rem;
								margin-right: 0.2rem;
								font-size: 14px;
							}
							@media (min-width: 600px) and (max-width: 754px) {
								margin-left: 0.1rem;
								margin-right: 0.1rem;
								font-size: 12px;
							}
							@media (min-width: 638px) and (max-width: 672px) {
								margin-left: 0.08rem;
								margin-right: 0.08rem;
								font-size: 11px;
							}
							@media (min-width: 608px) and (max-width: 672px) {
								margin-left: 0.08rem;
								margin-right: 0.08rem;
								font-size: 10px;
							}
							@media (min-width: 576px) and (max-width: 607px) {
								margin-left: 0.08rem;
								margin-right: 0.08rem;
								font-size: 9px;
							}
							@media (min-width: 576px) and (max-width: 579px) {
								margin-left: 0.04rem;
								margin-right: 0.04rem;
								font-size: 9px;
							}
						}
						.dropdown-toggle {
							padding: 0px !important;
						}
						.dropdown-menu {
							background-color: $color-1-black;
							.dropdown-item {
								font-weight: bolder;
								&:hover {
									color: $color-1-purple;
									background-color: $color-1-black;
								}
							}
						}
					}
				}
			}
		}
	}
}
