/*Override Bootstrap Badges*/
.badge-primary {
	background-color: $color-1-blue;
}

.badge-secondary {
	background-color: $color-1-grey;
}

.dark {
	background-color: $color-1-black;
}

.badge-success {
	background-color: $color-1-green;
}

.badge-warning {
	background-color: $color-1-yellow;
}

.badge-danger {
	background-color: $color-1-red;
}
