/*Checkbox*/
.checkmark-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:hover input ~ .checkmark {
		background-color: $color-1-black;
	}
	input:checked ~ .checkmark {
		background-color: $color-1-purple;
	}
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked ~ .checkmark:after {
			display: block;
		}
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: $color-2-grey;
		border-style: solid;
		border-width: 1px;
		border-color: $color-1-purple;
		&:after {
			content: "";
			position: absolute;
			display: none;
		}
		&:after {
			left: 9px;
			top: 5px;
			width: 5px;
			height: 10px;
			border: solid $color-1-white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}
