/*Drop Zone*/
.drop-zone {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100px;
	border-style: dashed;
	border-width: 4px;
	border-color: #e04c6c;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	.file {
		opacity: 0;
		width: -webkit-fill-available;
		height: inherit;
		min-height: 100px;
		cursor: pointer;
	}
	.text {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $color-1-white;
		background-color: #e04c6c;
		padding: 4px;
	}
	&:hover {
		background-color: $color-1-grey;
		.text {
			color: $color-1-grey !important;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
	.delete {
		font-size: 38px;
		position: absolute;
		top: 10px;
		right: 40px;
		color: $color-2-red;
		&:hover {
			transform: scale(1.2);
			transition: 0.6s;
			color: $color-1-red;
		}
	}
}
