.enroll {
	margin: 50px auto;
	text-align: center;
	position: relative;
	.container {
		padding: 0px;
		background-color: $color-1-white;
		margin: 0px auto;
		border-width: 1px;
		border-color: $color-2-grey;
		border-style: solid;
		box-shadow: 0px 1px 1px $color-1-grey;
		border-radius: 5px;
		position: relative;
		transition: all 0.5s ease-in;
		.title {
			margin: 0px;
			padding: 10px 0px;
			font-size: 24px;
			text-align: center;
			background-color: $color-3-white;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: $color-4-grey;
			box-shadow: 0px -1px 0px $color-1-white inset;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
			text-shadow: 1px 1px 0px $color-1-white;
		}
	}
	.password-validations {
		padding: 10px 5px;
		margin-top: 5px;
		text-align: left;
		position: relative;
		text-align: center;
		margin: 1em auto;
		.title {
			color: $color-3-black;
		}
		.unordered-list {
			list-style-type: none;
			margin: 0px auto;
			width: 300px;
			.list {
				padding: 5px;
				text-align: left;
			}
			.invalid {
				color: $color-1-black !important;
				&:before {
					content: "";
					padding-right: 15px;
				}
				.strong {
					color: $color-1-red;
				}
			}
			.valid {
				color: $color-1-green;
				transition: all 0.2s ease-in;
				&:before {
					content: "\2713 ";
					left: -5px;
					position: relative;
					font-weight: 800;
					transform: scale(1.3);
				}
				.strong {
					color: $color-1-black;
					text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2),
						5px 10px 5px rgba(0, 0, 0, 0.05),
						-5px 10px 5px rgba(0, 0, 0, 0.05);
				}
			}
		}
	}
}
