.loader {
	width: 24%;
	height: 200px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	z-index: 99999;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("/logos/white.png");
	background-color: $color-1-black;
	border-style: solid;
	border-width: 2px;
	border-color: $color-1-purple;
	border-radius: 10px;
	//##Device = Tablets, Ipads (portrait)
	@media (min-width: 768px) and (max-width: 1024px) {
		width: 30%;
	}
	//##Device = Most of the Smartphones Mobiles (Portrait)
	@media (min-width: 320px) and (max-width: 480px) {
		width: 68%;
	}
}
