/*Scroll-Bar*/
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background-color: $color-1-black;
}
::-webkit-scrollbar-thumb {
	background: $color-1-purple;
}
::-webkit-scrollbar-thumb:hover {
	background: $color-2-purple;
}
