.text-success {
	color: $color-1-green;
}
.text-danger {
	color: $color-1-black !important;
}

strong {
	color: $color-1-black;
	font-weight: 900;
}

a {
	color: $color-1-black;
	font-weight: 900;
	outline: none !important;
	text-decoration: none;
	&:hover {
		color: $color-2-purple;
	}
}
