/*Toggle / Slider*/
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin: auto;
	input {
		opacity: 0;
		width: 0px;
		height: 0px;
		&:checked + .slider {
			background-color: $color-1-purple;
			&:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}
		}
		&:focus + .slider {
			box-shadow: 0 0 1px $color-1-purple;
		}
	}
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $color-3-grey;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		&:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: #ffffff;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}
	}
}
