@mixin breathing {
	animation: breathing 4s ease-out infinite normal;
	-webkit-animation: breathing 4s ease-out infinite normal;
	-moz-animation: breathing 4s ease-out infinite normal;
	-o-animation: breathing 4s ease-out infinite normal;
	-ms-animation: breathing 4s ease-out infinite normal;

	//Generic Browser
	@keyframes breathing {
		0% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
		25% {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		60% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
		100% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
	}

	//Mozilla Browser
	@-moz-keyframes breathing {
		0% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
		25% {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		60% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
		100% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
	}

	//Webkit Browser
	@-webkit-keyframes breathing {
		0% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
		25% {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		60% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
		100% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
	}

	//Opera Browser
	@-o-keyframes breathing {
		0% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
		25% {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		60% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
		100% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
	}

	//Microsoft Browser
	@-ms-keyframes breathing {
		0% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
		25% {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		60% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
		100% {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
	}
}
