/*Main CSS File*/
/*Variables*/
@import "./variables.scss";

//Font
@import "./fonts.scss";

/*Mixins*/
@import "./mixins/fade-in.scss";
@import "./mixins/breathing.scss";
@import "./mixins/pop-in.scss";
@import "./mixins/swipe-left.scss";
@import "./mixins/box-shadow.scss";
@import "./mixins/scale-up.scss";
@import "./mixins/blink.scss";

/*Layout*/
//Desktop
@import "./layouts/desktop.scss";
//User
//Public
@import "./layouts/public.scss";
//Global
@import "./layouts/global.scss";

/*Pages*/
//Global
@import "./pages/global/login.scss";
@import "./pages/global/sign-up.scss";
@import "./pages/global/not-found.scss";
@import "./pages/global/not-authorized.scss";
@import "./pages/global/forgot-password.scss";
@import "./pages/global/sign-in.scss";
@import "./pages/global/apply.scss";
//Desktop
@import "./pages/desktop/dashboard/dashboard.scss";
@import "./pages/desktop/my-account/my-account.scss";
@import "./pages/desktop/system-settings/system-settings.scss";
@import "./pages/desktop/events/edit.scss";
@import "./pages/desktop/my-proyects/my-proyects.scss";

//Public
@import "./pages/public/home.scss";
@import "./pages/public/game.scss";
@import "./pages/public/oculus.scss";
@import "./pages/public/pod-rental.scss";
@import "./pages/public/birthdays.scss";
@import "./pages/public/contact-us.scss";
@import "./pages/public/about-us.scss";
@import "./pages/public/event.scss";
@import "./pages/public/packages.scss";

/*Components*/
//Global
@import "./components/global/offline-alert.scss";
@import "./components/global/drop-zone.scss";
@import "./components/global/flat-picker.scss";
@import "./components/global/scroll-bar.scss";
@import "./components/global/select-2.scss";
@import "./components/global/checkbox.scss";
@import "./components/global/toggle.scss";
@import "./components/global/reactive-table.scss";
@import "./components/global/selection.scss";

@import "./components/global/inputs.scss";
@import "./components/global/text.scss";
@import "./components/global/buttons.scss";
@import "./components/global/badges.scss";
@import "./components/global/alerts.scss";

@import "./components/global/yolo-alert.scss";
@import "./components/global/sour-alert.scss";
@import "./components/global/loader.scss";
@import "./components/global/enroll.scss";
@import "./components/global/reset-password.scss";

//Desktop
@import "./components/desktop/navbar.scss";
@import "./components/desktop/sidebar.scss";
//User
//Public
@import "./components/public/navbar.scss";
@import "./components/public/footer.scss";
@import "./components/public/inputs.scss";
@import "./components/public/modal.scss";

@import "./components/public/page-title.scss";

:root {
	--input-padding-x: 0.75rem;
	--input-padding-y: 0.75rem;
}

* {
	min-height: 0;
	min-width: 0;
}

.encapsulated {
	display: inline-flex;
	align-items: center;
	background-color: $color-1-blue;
	border-radius: 20px;
	padding: 3px 10px;
	margin-right: 5px;
	margin-top: 5px;
	color: $color-1-white;
	.close-btn {
		margin-left: 10px;
		cursor: pointer;
		font-size: 14px;
	}
}

html,
body {
	margin: 0px;
	padding: 0px;
	height: 100vh;
	width: 100%;
	overscroll-behavior-y: contain !important;

	/*Smooth Scroll (Phones)*/
	-webkit-overflow-scrolling: touch;

	caret-color: $color-1-black;
}
.select2-dropdown--below {
	z-index: 9999999;
}
.no-js {
	color: $color-1-red;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.map-wrapper {
	padding: 0px;
	margin: 0px;
	width: 100%;
	.map {
		width: 100%;
		height: 200px;
		border: none;
		@media (min-width: 320px) and (max-width: 480px) {
			height: 200px !important;
		}
	}
}
.text-primary {
	color: black !important;
}

.container-white {
	background-color: $color-1-white;
	width: 98%;
	height: auto;
	margin-top: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: $color-1-black;
	border-radius: 10px;
	padding: 20px;
}

.accordion-button {
	background-color: #f8f9fa;
	border: 1px solid transparent;
	transition: background-color 0.3s, border-color 0.3s;
}
.accordion-button:hover {
	background-color: #e04c6c;
	color: white !important;
}
.accordion-button:not(.collapsed) {
	background-color: #e04c6c;
	border-color: #ff4757;
	color: white !important;
}
.accordion-button.collapsed {
	border-color: #ff4757;
}
.accordion-button::after {
	color: white !important; /* Cambia el color de la flecha */
}
