$color-1-green: #4cd964;
$color-2-green: #39b54e;
$color-1-red: #ed1c24;
$color-2-red: #c1181e;
$color-1-blue: #00a8ff;
$color-2-blue: #0097e6;
$color-1-yellow: #fea11d;
$color-2-yellow: #e06834;
$color-1-grey: #c0c0c0;
$color-2-grey: #949494;
$color-3-grey: #a7a7a7;
$color-4-grey: #dde0e7;
$color-1-white: #ffffff;
$color-2-white: #f9f9f9;
$color-3-white: #eff4f7;
$color-1-black: #000000;
$color-2-black: #424242;
$color-3-black: #212121;
$color-4-black: #1d1b31;
$color-1-purple: #4d5bf0;
$color-2-purple: #10158b;
